<div class="container mt-5">
  <div class="row mt-3">
    <div class="col-12">
      <form [formGroup]="formGroup">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="onFileChange($event)">
              <label class="custom-file-label">
              Select Filesd</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary form-control" (click)="serialProccess()">Serial Proccess</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 before-img">
      <div class="card">
        <div class="card-body">
          <h5>Before Image</h5>
          <img [src]="imagePath" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-6 after-img">
      <div class="card">
        <div class="card-body">
          <h5>After Image</h5>
          <img [src]="imageProccess" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h6>Time on Render in Browser: {{ totalTimeOfProccess || 0 }}ms</h6>
            <hr>
            <div *ngIf="dataResponse" >
              <h6>Time Proccess on Server in nanoseconds: {{ dataResponse?.duration || 0 }}n</h6>
              <h6>Time Proccess on Server in milleseconds: {{ nanotoMilleseconds(dataResponse?.duration) || 0 }}ms</h6>
              <h6>Time Proccess on Server in seconds: {{ nanoToSeconds(dataResponse?.duration) || 0 }}s</h6>
            </div>
          </div>
          <div class="col-6" *ngIf="imageProccess" >
            <button class="btn btn-primary form-control" (click)="serailEffect('LIGHT_GRAY')">Light Gray</button>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
